@tailwind base;
@tailwind components;
@tailwind utilities;

.card__img--incorrect {
  filter: brightness(0);
  scale: 1.5;
 }
 .card__img--correct {
  scale: 1.5;
 }
 .bg-gradient{
  background: linear-gradient(45deg, #21108a, #bd2b2b) ;
 }